{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1>Camera</h1>
    <p>This is an example of working of this feature</p>
    <p>Here we can see that a camera is streaming the video and we are counting the number of vehicals passing thru</p>
    <p>By using ML, we can detect emergency vehicals and try to clear path/traffic ahead</p>
    <img src="{{ url_for('video_feed') }}">
    <p>This example is made overnight and contains some bugs and false positives</p>
</div>
{% endblock %}