{% extends 'layout.html' %}

{% block content %}
<div>
    <div class="container">
        <h1>Future Enhancements</h1>
        <ul>
            <li>
                <p>The current project is in the prototype phase.</p>
            </li>
        </ul>
        <ol>
            <li>
                <p>Develop a user database for adding and authenticating users.</p>
                <ul>
                    <li>We will develop a robust user database system to facilitate the addition of users and ensure secure authentication, enhancing the overall user experience and system security.</li>
                </ul>
            </li>
            <li>
                <p>Improve our vehicle detection capabilities by implementing advanced machine learning algorithms. </p>
                <ul>
                    <li>Enhance the vehicle detection functionality by incorporating state-of-the-art machine learning
                        algorithms, ensuring accurate and efficient results.</li>
                </ul>
            </li>
            <li>
                <p>Establish a system to access cameras at road intersections for real-time area monitoring. </p>
                <ul>
                    <li>Our goal is to create a system that enables real-time access to cameras situated at road intersections, allowing for comprehensive monitoring of surrounding areas.</li>
                </ul>
            </li>
            <li>
                <p>Design a specialized detection system for emergency vehicles, prioritizing their passage by
                    activating signals. </p>
                <ul>
                    <li>We will design and implement a dedicated system capable of identifying emergency vehicles amidst traffic, triggering signals to prioritize their movement and ensuring swift response times during emergencies.
                    </li>
                </ul>
            </li>
            <li>
                <p>Create and integrate an ambulance tracking system to clear the path for incoming ambulances using AI.
                </p>
                <ul>
                    <li>Leveraging artificial intelligence, we will create an ambulance tracking system to optimize emergency response times by ensuring a clear pathway for incoming ambulances, thereby enhancing efficiency and effectiveness in emergency situations.</li>
                </ul>
            </li>
        </ol>

    </div>
</div>
{% endblock %}
