{% extends 'layout.html' %}

{% block content %}
<div>
    <div class="container">
        <h1>Future Enhancements</h1>
        <ul>
            <li>
                <p>The current project is in the prototype phase.</p>
            </li>
        </ul>
        <ol>
            <li>
                <p>Develop a user database for adding and authenticating users. </p>
                <ul>
                    <li>Create a robust user database system that allows for the addition of users and secure
                        authentication.</li>
                </ul>
            </li>
            <li>
                <p>Improve our vehicle detection capabilities by implementing advanced machine learning algorithms. </p>
                <ul>
                    <li>Enhance the vehicle detection functionality by incorporating state-of-the-art machine learning
                        algorithms, ensuring accurate and efficient results.</li>
                </ul>
            </li>
            <li>
                <p>Establish a system to access cameras at road intersections for real-time area monitoring. </p>
                <ul>
                    <li>Implement a system that enables access to cameras located at road intersections, providing a
                        real-time feed of the surrounding areas.</li>
                </ul>
            </li>
            <li>
                <p>Design a specialized detection system for emergency vehicles, prioritizing their passage by
                    activating signals. </p>
                <ul>
                    <li>Develop a dedicated system capable of identifying emergency vehicles within traffic and
                        triggering signals to prioritize their movement, ensuring a swift response during emergencies.
                    </li>
                </ul>
            </li>
            <li>
                <p>Create and integrate an ambulance tracking system to clear the path for incoming ambulances using AI.
                </p>
                <ul>
                    <li>Develop an ambulance tracking system that utilizes artificial intelligence to ensure a clear
                        pathway for approaching ambulances, optimizing emergency response times.</li>
                </ul>
            </li>
        </ol>

    </div>
</div>
{% endblock %}