{% extends 'layout.html' %}

{% block content %}
<style>
    .octagon {
        width: 400px;
        height: 400px;
        clip-path: polygon(25% 0, 75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0 75%, 0 25%);
        background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.spVJN8vb0H4zPH4obo8FjAHaEv%26pid%3DApi&f=1&ipt=56a0ff1ea14a56846d1880839f3e9bfd83fba24afff44ddb79397d356c367914&ipo=images");
    }
</style>

<div class="row rounded bg-dark m-5 px-5">
    <div class="col d-flex flex-column justify-content-center">
        <h1 style="color: white;">Drive Safe, Arrive Safe:</h1>
        <h1 style="color: white;">Your Journey, Your Responsibility</h1>
    </div>
    <div class="col d-flex justify-content-center py-5">
        <div class="octagon"></div>
    </div>
</div>
<!-- <div>
    <div class="rounded bg-dark m-5 d-flex align-items-center"
        style="min-height: 80vh; min-width: 80vw; position: relative;">
        <div class="flex-grow-1 ps-5">
            <h1 style="color: white;">Drive Safe, Arrive Safe:</h1>
            <h1 style="color: white;">Your Journey, Your Responsibility</h1>
        </div>
        <div class="flex-grow-1 position-relative h-100">
            <div class="octagon">
                &nbsp;
            </div>
        </div>
    </div>
</div> -->
{% endblock %}