{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>AI Car Detector</h1>
    <p class="fs-3">What is AI Car Detector?</p>
    <ul>
        <li>It is a car detector</li>
        <li>It detects cars</li>
        <li>Car is detected by it</li>
        <li>Detects car by it</li>
        <li>Etc.</li>
    </ul>
    <p class="fs-3">Why it is needed?</p>
    <ul>
        <li>To detect cars</li>
        <li>To find number of cars passing though an area</li>
        <li>To detect any emergency vehical</li>
    </ul>
    <p class="fs-3">Why is is used?</p>
    <ul>
        <li>It can be used to allocate sufficient time on traffic lights</li>
        <li>It can be used to check for emergency vehicals and let them pass through</li>
    </ul>
</div>
{% endblock %}