{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1>Technologies used -</h1>
        <ul>
            <li>Python</li>
            <ul>
                <li>Flask</li>
                <li>OpenCV-Python</li>
                <li>Numpy</li>
            </ul>
            <li>Hosting</li>
            <ul>
                <li>pythonanywhere.com</li>
            </ul>
            <li>Code Storage</li>
            <ul>
                <li>Github</li>
            </ul>
        </ul>
    </div>
{% endblock %}