{% extends 'layout.html' %}
{% block content %}
    <div class="container animate__animated animate__bounceInUp">
        <h1>Technologies used -</h1>
        <ul>
            <li><h2>Python</h2></li>
            <ul>
                <li><h3>Flask</h3></li>
                <li><h3>OpenCV-Python</h3></li>
                <li><h3>Numpy</h3></li>
            </ul>
            <li><h2>Hosting</h2></li>
            <ul>
                <li><h3>pythonanywhere.com</h3></li>
            </ul>
            <li><h2>Code Storage</h2></li>
            <ul>
                <li><h3>Github</h3></li>
            </ul>
        </ul>
    </div>
{% endblock %}