{% extends 'layout.html' %}
{% block content %}
<div class="container animate__animated animate__bounceInUp pb-5">
    <h1>Tech Stack</h1>
    <section class="mt-3">
        <h2>Language</h2>
        <div class="d-flex">
            <a target="_blank" href="https://www.python.org/"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset">
                <div>
                    <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png"
                        alt="Python Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">Python</b>
                </div>
            </a>
            <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset ms-3">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"
                        alt="HTML5 Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">HTML</b>
                </div>
            </a>
            <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset ms-3">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"
                        alt="CSS3 Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">CSS</b>
                </div>
            </a>
        </div>
    </section>
    <section class="mt-3">
        <h2>Libraries and Frameworks</h2>
        <div class="d-flex">
            <a target="_blank" href="https://flask.palletsprojects.com/"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Flask_logo.svg" alt="Flask Logo"
                        height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">Flask</b>
                </div>
            </a>
            <a target="_blank" href="https://github.com/numpy/numpy"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset ms-3">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/NumPy_logo_2020.svg" alt="Flask Logo"
                        height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">Numpy</b>
                </div>
            </a>
            <a target="_blank" href="https://github.com/opencv/opencv-python"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset ms-3">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/OpenCV_Logo_with_text_svg_version.svg"
                        alt="Flask Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">OpenCV-Python</b>
                </div>
            </a>
        </div>
        <div class="d-flex">
            <a target="_blank" href="https://getbootstrap.com/"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset mt-3">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg"
                        alt="Bootstrap Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">Bootstrap</b>
                </div>
            </a>
        </div>
    </section>
    <section class="mt-3">
        <h2>Hosting</h2>
        <div class="d-flex">
            <a target="_blank" href="https://cloud.google.com/"
                class="p-3 border border-black border-5 col-md-8 justify-content-center text-decoration-none text-reset">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Google_Cloud_logo.svg"
                        alt="Google Cloud Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">Google Cloud</b>
                </div>
            </a>
            <a target="_blank" href="https://www.pythonanywhere.com/"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset ms-3">
                <div>
                    <img src="https://www.pythonanywhere.com/static/anywhere/images/PA-logo-snake-only.svg"
                        alt="pythonanywhere.com Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">PythonAnywhere</b>
                </div>
            </a>
        </div>
    </section>
    <section class="mt-3">
        <h2>Code Storage</h2>
        <div class="d-flex">
            <a target="_blank" href="https://github.com/EdwinRodger/Traffic-Detection-System"
                class="p-3 border border-black border-5 col-md-4 justify-content-center text-decoration-none text-reset">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/1024px-GitHub_Invertocat_Logo.svg.png"
                        alt="Github Logo" height="120" class="row mx-auto">
                    <b class="row justify-content-center fs-3 mt-3">Github</b>
                </div>
            </a>
        </div>
    </section>
    <hr class="mt-5">
    <div>
        <h1>
            <u>
                Functionality
            </u>
        </h1>
    </div>
    <div>
        <h2>1. Web Pages:</h2>
        <ul>
            <li>Flask is used to make this website.</li>
            <li>The website has several routes defined using Flask's @app.route decorator, such as "/" for
                the homepage, "/technology" for the technology page, "/about" for the about page,
                etc.</li>
            <li>The render_template function is used to render HTML templates for these routes.</li>
            <li>Jinja templates are used to update the HTML content dynamically.</li>
        </ul>
        <h2>2. Authentication System:</h2>
        <ul>
            <li>The website uses Flask and Flask-Login for authentication. Flask-Login is an extension for managing user
                sessions.</li>
            <li>There is a User class that extends flask_login.UserMixin, which helps in managing user sessions.</li>
            <li>Users and their passwords are stored in a mock database (users dictionary).</li>
            <li>New users are added through backend because we need to make sure only authorised users can access the
                whole website.</li>
            <li>We don't want anyone to create an account and access the website and thats why we add users using
                backend.</li>
            <li>The signup route handles both GET and POST requests. For a GET request, it renders the signup page, and
                for a POST request, it checks the provided username and password, logs in the user using Flask-Login if
                the credentials are valid, and redirects to the camera page.</li>
        </ul>
        <h2>3. Camera Page:</h2>
        <ul>
            <li>The /cameras route is protected using @flask_login.login_required, ensuring that only authenticated
                users can access the cameras page.</li>
            <li>The cameras route renders the "cameras.html" template, which displays a table that has data of all the
                installed cameras and their location.</li>
            <li>Clicking on desired camera opens the real time feed of that area.</li>
        </ul>
        <h2>4. Demo Page:</h2>
        <ul>
            <li>The /demo route is protected using @flask_login.login_required, ensuring that only authenticated users
                can access the demo page.</li>
            <li>The demo route renders the "demo.html" template, which can display the processed video stream.</li>
            <li>The processed video stream is encoded as JPEG images, the encoding is done till the end of the video.
                Refresh the page to see the encoded video again.</li>
            <li>The demo page is used as prototype and will change in future.</li>
        </ul>
        <h2>5. Video Processing:</h2>
        <ul>
            <li>The /video_feed route is used for streaming video content. It utilizes the counting_cars generator
                function defined in the vehicle.py file.</li>
            <li>The counting_cars function reads frames from a video file (static\videoTrim.mp4), performs background
                subtraction, contour detection, and object tracking to count the number of vehicles passing a specified
                line.</li>
            <li>The processed video frames are encoded as JPEG images and sent as a multipart response to the client
                using Flask's Response class. This allows for real-time streaming of the processed video.</li>
        </ul>
        <h2>6. Logout:</h2>
        <ul>
            <li>The /logout route logs out the current user using flask_login.logout_user() and redirects to the
                homepage.</li>
        </ul>
    </div>
</div>
{% endblock %}